.menu-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

/* menu-bar */
.menu-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em 1.5em;
  z-index: 1;
  pointer-events: all;
}

.menu-bar > div {
  flex: 1;
}

.menu-logo a {
  font-weight: 600;
}

.menu-bar a {
  text-decoration: none;
  color: #000;
}

.menu-contact {
  display: flex;
  justify-content: flex-end;
}

.menu-toggle {
  flex: 1;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  height: 60px;
  width: 60px;
  border: 0px;
  padding: 0;
  background: transparent;
  transition: all 300ms ease-in-out;
  transition-delay: 150ms;
  cursor: pointer;
}

.hamburger-icon:before,
.hamburger-icon:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1.5px;
  background: #000;
  transition: all 300ms ease-in-out;
  transition-delay: 150ms;
  will-change: transform;
}

.hamburger-icon:before {
  transform: translateY(-3px);
}

.hamburger-icon:after {
  transform: translateY(3px);
}

.active.hamburger-icon:before {
  transform: translateY(0) rotate(45deg);
}

.active.hamburger-icon:after {
  transform: translateY(0) rotate(-45deg);
}

/* menu overlay */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  display: flex;
  pointer-events: all;
}

.menu-col {
  flex: 1;
  height: 100%;
  padding: 2em;
}

/* menu-col left */
.menu-col:nth-child(1) {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: var(--color-bg);
}

.menu-col:nth-child(1) .menu-col-copy {
  width: 35%;
}

.menu-col:nth-child(1) .menu-col-copy p {
  opacity: 0.5;
}

/* menu-col right */
.menu-col:nth-child(2) {
  display: flex;
  gap: 2em;
}

.menu-col:nth-child(2) > div {
  flex: 1;
}

.menu-col:nth-child(2) .menu-sub-col {
  margin-top: 25%;
}

/* menu-col right => main links */
.menu-link-item {
  position: relative;
  margin: 0.25em 0;
}

.menu-link-item a {
  color: var(--color-bg);
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -0.01em;
}
/* menu-col right => socials + address copy */
.menu-col:nth-child(2) .menu-sub-col:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 8em;
  color: var(--color-bg);
}

.menu-col:nth-child(2) .menu-sub-col:nth-child(2) p:nth-child(1) {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.5em;
  opacity: 0.5;
}

.menu-sub-col-links {
  display: flex;
  flex-direction: column;
}

.menu-sub-col-links a {
  color: var(--color-bg);
  padding: 0.125em 0;
}

.menu-col:nth-child(2) .menu-sub-col:nth-child(2) p {
  margin-bottom: 0.25em;
}

@media (max-width: 900px) {
  .menu-bar {
    padding: 0.5em 0.75em 0.5em 1.5em;
  }
  .menu-toggle {
    justify-content: flex-end;
  }

  .menu-contact {
    display: none;
  }

  .menu-col:nth-child(1) {
    display: none;
  }

  .menu-col:nth-child(2) {
    flex-direction: column;
  }

  .menu-col:nth-child(2) .menu-sub-col:nth-child(2) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
