.menu-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

/* menu-bar */
.menu-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.75em;
  z-index: 1;
  pointer-events: all;
}

.menu-logo a {
  font-family: "PP Monument Extended";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.menu-toggle {
  flex: 1;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hamburger-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  height: 70px;
  width: 70px;
  border: 0px;
  border-radius: 100%;
  padding: 0;
  background: transparent;
  transition: all 300ms;
  cursor: pointer;
}

.hamburger-icon:hover {
  background: var(--color-bg-lighter);
}

.hamburger-icon:before,
.hamburger-icon:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 1.5px;
  background: #fff;
  transition: all 300ms ease-in-out;
  transition-delay: 150ms;
  will-change: transform;
}

.hamburger-icon:before {
  transform: translateY(-3px);
}

.hamburger-icon:after {
  transform: translateY(3px);
}

.active.hamburger-icon:before {
  transform: translateY(0) rotate(45deg);
}

.active.hamburger-icon:after {
  transform: translateY(0) rotate(-45deg);
}

/* menu overlay */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg-light);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

.menu-col {
  width: 75%;
  height: 100%;
  padding: 2em;
  display: flex;
  gap: 1em;
}

.menu-col > div {
  flex: 1;
}

.menu-col .menu-sub-col {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-bg-lighter);
}

/* menu-col right => main links */
.menu-link-item {
  position: relative;
  margin: 0.125em 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-item .menu-link-item-holder {
  position: relative;
}

.menu-link-item .menu-link-item-holder a {
  position: relative;
  color: #fff;
  font-family: "PP Editorial Old";
  font-size: 80px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  line-height: 100%;
}

/* menu-col right => socials + address copy */
.menu-col .menu-sub-col:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8em;
  color: var(--color-bg);
}

.menu-col .menu-sub-col:nth-child(2) p:nth-child(1) {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.menu-sub-col-links {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu-sub-col-address {
  position: relative;
}

.menu-sub-col-links a {
  color: #fff;
  padding: 0.125em 0;
}

.menu-col .menu-sub-col:nth-child(2) p {
  margin-bottom: 0.25em;
}

@media (max-width: 900px) {
  .menu-bar {
    padding: 0.5em 0.75em 0.5em 1.5em;
  }
  .menu-toggle {
    justify-content: flex-end;
  }

  .menu-col {
    width: 100%;
    flex-direction: column;
  }

  .menu-col .menu-sub-col:nth-child(2) {
    display: none;
  }
}
