:root {
  --color-bg: #f3f1e5;
  --color-light: #fff;
  --color-dark: #000;
  --color-accent: #011eff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  font-family: "Saans TRIAL";
}

h1 {
  font-size: 80px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -0.015em;
}

h3 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin-bottom: 0.25em;
}

p,
a,
span {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 8em 2em;
}
